// Dark color scheme
$dark-bg: #222831;
$dark-sec-bg: #393e46;

$dark-font: #00adb5;
$dark-sec-font: #eeeeee;


// Light color scheme
$light-bg: #e4f9f5;
$light-sec-bg: #30e3ca;

$light-font: #11999e;
$light-sec-font: #40514e;